html, body {
	height: 100%;
}

body {
    font-family: Monospace;
    background-color: #0f0;
    color: #f00;
    margin: 0px;
    padding: 0px 0px;
    overflow: hidden;
}

#reloadNotification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#reloadNotification.show {
    visibility: visible;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}